# Prvi checkpoint

## Importovanje pandas i time paketa

In [19]:
import pandas as pd
import time

## Importovanje podataka iz Stores dataseta

In [20]:
Stores=pd.read_csv("F:\\Faks\\8. semestar\\Neuronske\\Data set\\Stores data-set.csv")
print(Stores)

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

## Provera tipova podataka iz dataseta Stores

In [21]:
dataTypes = Stores.dtypes
print(dataTypes)

Store     int64
Type     object
Size      int64
dtype: object

## Zamena kategorijskih vrednosti numeričkim (A, B i C uzimaju vrednosti 1, 2 i 3 respektivno)

In [22]:
Stores["Type"] = Stores["Type"].replace(to_replace=["A","B","C"],value=[1,2,3])
print(Stores)

    Store  Type    Size
0       1     1  151315
1       2     1  202307
2       3     2   37392
3       4     1  205863
4       5     2   34875
5       6     1  202505
6       7     2   70713
7       8     1  155078
8       9     2  125833
9      10     2  126512
10     11     1  207499
11     12     2  112238
12     13     1  219622
13     14     1  200898
14     15     2  123737
15     16     2   57197
16     17     2   93188
17     18     2  120653
18     19     1  203819
19     20     1  203742
20     21     2  140167
21     22     2  119557
22     23     2  114533
23     24     1  203819
24     25     2  128107
25     26     1  152513
26     27     1  204184
27     28     1  206302
28     29     2   93638
29     30     3   42988
30     31     1  203750
31     32     1  203007
32     33     1   39690
33     34     1  158114
34     35     2  103681
35     36     1   39910
36     37     3   39910
37     38     3   39690
38     39     1  184109
39     40     1  155083
40     41     1  196321
41     42     3   39690
42     43     3   41062
43     44     3   39910
44     45     2  118221

## Importovanje podataka iz Sales dataseta

Tokom samog učitavanja je specificirano da se datum učitava kao date format i da podaci idu redom godina, mesec, dan.

In [23]:
Sales = pd.read_csv("F:\\Faks\\8. semestar\\Neuronske\\Data set\\Sales data-set.csv",parse_dates=['Date'],dayfirst=True)
print(Sales)

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-02-05      24924.50      False
1           1     1 2010-02-12      46039.49       True
2           1     1 2010-02-19      41595.55      False
3           1     1 2010-02-26      19403.54      False
4           1     1 2010-03-05      21827.90      False
...       ...   ...        ...           ...        ...
421565     45    98 2012-09-28        508.37      False
421566     45    98 2012-10-05        628.10      False
421567     45    98 2012-10-12       1061.02      False
421568     45    98 2012-10-19        760.01      False
421569     45    98 2012-10-26       1076.80      False

[421570 rows x 5 columns]

## Proveravamo da li smo uspešno konvertovali podatke

In [24]:
dataTypes = Sales.dtypes
print(dataTypes)

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
dtype: object

Uspešno konvertovani podaci!

## Importovanje podataka iz Features dataseta

In [25]:
Features = pd.read_csv("F:\\Faks\\8. semestar\\Neuronske\\Data set\\Features data set.csv",parse_dates=['Date'],dayfirst=True)
print(Features)

      Store       Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0         1 2010-02-05        42.31       2.572        NaN        NaN
1         1 2010-02-12        38.51       2.548        NaN        NaN
2         1 2010-02-19        39.93       2.514        NaN        NaN
3         1 2010-02-26        46.63       2.561        NaN        NaN
4         1 2010-03-05        46.50       2.625        NaN        NaN
...     ...        ...          ...         ...        ...        ...
8185     45 2013-06-28        76.05       3.639    4842.29     975.03
8186     45 2013-07-05        77.50       3.614    9090.48    2268.58
8187     45 2013-07-12        79.37       3.614    3789.94    1827.31
8188     45 2013-07-19        82.84       3.737    2961.49    1047.07
8189     45 2013-07-26        76.06       3.804     212.02     851.73

      MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0           NaN        NaN        NaN  211.096358         8.106      False
1           NaN        NaN        NaN  211.242170         8.106       True
2           NaN        NaN        NaN  211.289143         8.106      False
3           NaN        NaN        NaN  211.319643         8.106      False
4           NaN        NaN        NaN  211.350143         8.106      False
...         ...        ...        ...         ...           ...        ...
8185       3.00    2449.97    3169.69         NaN           NaN      False
8186     582.74    5797.47    1514.93         NaN           NaN      False
8187      85.72     744.84    2150.36         NaN           NaN      False
8188     204.19     363.00    1059.46         NaN           NaN      False
8189       2.06      10.88    1864.57         NaN           NaN      False

[8190 rows x 12 columns]

## Ponavljamo postupak provere tipova podataka kao kod Sales dataseta

In [26]:
dataTypes = Features.dtypes
print(dataTypes)

Store                    int64
Date            datetime64[ns]
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                 bool
dtype: object

## Spajamo Stores i Sales pomoću zajedničke kolone Store

In [27]:
output1= pd.merge(Stores, Sales, on='Store', how='outer')
head(output1)

NameError: name 'head' is not defined

## Spajamo output1 sa Features pomoću tri zajedničkih kolona Stores, Date i IsHoliday

In [ ]:
Svi_podaci=pd.merge(output1, Features, on=['Store','Date','IsHoliday'],how='outer')
print(Svi_podaci)

Primećujemo dosta NaN vrednosti u 2013 godini, razlog tome je što samo u datasetu Featrures imamo podatke za tu godinu, ne i u Sales datasetu.

## Filtriramo samo neophodan raspon datuma

In [ ]:
pocetni_datum = "2010-02-05"
krajnji_datum = "2012-11-01"

nakon_pocetnog = Svi_podaci["Date"] >= pocetni_datum
pre_krajnjeg = Svi_podaci["Date"] <= krajnji_datum
raspon_datuma = nakon_pocetnog & pre_krajnjeg 
konacna_baza = Svi_podaci.loc[raspon_datuma]

In [ ]:
print(konacna_baza)

## Ukupan broj NA vrednosti

In [ ]:
konacna_baza.isna().sum()

## Grupisanje konacne baze po Store

groupByStore=konacna_baza.groupby(by='Store', axis=0, level=None, as_index=True, sort=True, group_keys=True)

## Prikazivanje grupa

In [ ]:
groupByStore.first()

Vidimo da postoji 45 prodavnica.

## Prikazivanje podataka za prvu prodavnicu

In [ ]:
group.get_group(1)

Podaci su sortirani po datumu, vidimo da postoji 98 departmana u 1. prodavnici.